*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #E4F9F5;
    color: #4B5563;
    font-size: medium;
    font-family: sans-serif;
    margin: 0;
    line-height: 2;
}

@media (max-device-width: 592px) {

    #aboutSection {
        display: flex;
        flex-direction: column;
    }

    article {
        text-align: start;
        font-size: 2rem;
    }

    body {
        text-align: center;
        font-size: large;
    }

    footer div#contactDiv {
        text-align: start;
    }

    footer #contactDiv button {
        font-size: inherit;
    }

    h1 {
        font-size: 7rem;
    }

    #musicplayerProject {
        display: flex;
        flex-direction: column-reverse;
    }

    #navbar {
        display: none;
        position: relative;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: red;
    }

    #navbar button {
        display: inline;
        font-size: 2rem;
    }

    #navbar li {
        display: inline-block;
    }

    p {
        font-size: inherit;
    }

    #openNavbarButton {
        display: inline-block;
        font-size: 2rem;
        position: absolute;
        top: 400px;
        right: 30px;
    }

    .project{
        display: flex;
        flex-direction: column;
        border-top-style: solid;
        border-top-color: #4B5563;
        border-top-width: 1px;
        padding-top: 40px;
    }

    #projectsSection {
        display: block;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .serviceItem {
        margin: 40px;
    }

    #servicesSection {
        display: flex;
        flex-direction: column;
    }

    .tabButton {
        font-size: 4rem;
    }

}

@media (max-device-width: 1024px) {

    article {
        text-align: start;
    }

    body {
        text-align: center;
        font-size: large;
    }

    footer {
        margin-top: 200px;
    }

    footer div#contactDiv {
        text-align: start;
    }

    footer div#contactDiv button {
        font-size: inherit;
    }

    h1 {
        font-size: 7rem;
    }

    #musicplayerProject {
        display: flex;
        flex-direction: column-reverse;
    }

    p {
        font-size: inherit;
    }

    .project{
        display: flex;
        flex-direction: column;
        border-top-style: solid;
        border-top-color: #4B5563;
        border-top-width: 1px;
        padding-top: 40px;
    }

    #projectsSection {
        display: block;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tabButton {
        font-size: 4rem;
    }
}

#aboutSection {
    padding: 0px 40px;
    padding-bottom: 100px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

article.gridItem {
    box-shadow: 0px 0px 2px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 4px;
    padding-left: 5%;
    padding-right: 5%;
}

#banner {
    background-color: rgb(128, 113, 113);
    padding: 100px;
}

#centeredContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactDiv {
    padding: 40px;
}

#contactFormDiv {
    margin: 0 40px;
    display: none;
}

#contactForm * {
    margin: 8px 0;
}

.flatButton {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: inherit;
    color: inherit;
    padding: 6px 8px;
    font-size: inherit;
}

footer {
    background-color: #D1D5DB;
    margin-top: 200px;
}

.gridItem {
    margin: 20px 80px;
    padding: 20px;
}

#myIntroDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myProjectsHeading {
    display: block;
    margin: 60px 80px;
}

#navbar {
    padding: 10px 20px;
    background-color: inherit;
    width: 100%;
    position: fixed;
    top: 0px;
    opacity: 1.0;
    z-index: 1;
    filter: grayscale(1.0);
}

#navbar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

#navbar button {
    position: absolute;
    left: 20px;
    top: 0px;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    display: none;
}

#navbar li {
    float: right;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
}

#paddedBody {
    padding: 0px 0px
}

.projectScreenshots {
    display: flex;
    justify-content: center;
}

.projectScreenshots img {
    margin: 0px 20px;
}

#projectsSection {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serviceItem {
    border-style: none;
    border-radius: 16px;
    padding: 16px 16px;
    margin: 20px 8px;
    box-shadow: 0 0 8px 2px;
}

#servicesSection {
    display: flex;
}

#siteCredits {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9CA3AF;
    text-align: center;
    color: #F3F4F6;
}

#skillsSection {
    padding: 0 80px;
}

#skillsSection article{
    padding-right: 200px;
}

.socialIcon {
    padding: 0px 8px;
}

#socialIcons {
    display: flex;
    align-items: center;
}

.tabButton {
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

.tabContent {
    position: relative;
    top: 50px;
}

.testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testing * {
    color: black;
}